In [0]:
class Dog:
    sp='mammal'
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def des(self):
        return "{} is {} years old ".format(self.name,self.age)

In [0]:
mik=Dog('mike',8)

In [0]:
print(mik.des())

mike is 8 years old

In [0]:
class User(object):
    count=0
    def __init__(self,name,age):
        self.name=name
        self.age=age
        User.count=User.count+1
    @staticmethod
    def sayhell():
        print("ello")
    @classmethod
    def get_count(cls):
        return cls.count

In [0]:
u1=User(name="has",age=34)
u2=User(name="hasdd",age=345)
print(u1.name)
print(u1.age)
print(u2.age)
print (u2.get_count())

has
34
345
12

In [0]:
type(u)

__main__.User

In [0]:
d={"hafez":13,"jha" :34}

In [0]:
d.items()

[('jha', 34), ('hafez', 13)]

In [0]:
for name, number in d.items():
    print(name+ '\n' +'love'+ str(number))

jha
love34
hafez
love13

In [0]:
d.keys()

['jha', 'hafez']

In [0]:
d.values()

[34, 13]

In [0]:
for n,x in d.items():
    print (n + str(x))

jha34
hafez13

In [0]:
for number in d.values():
    print(str(number) + 'is my number')

34is my number
13is my number

In [0]:
def ok(a,c,d,f):
    e=a+d+c+f
    print(e)

In [0]:
ok(1,3,1,1)

6

In [0]:
def jk(*argv):
    a=argv*3
    print (a)
jk(1,2)

(1, 2, 1, 2, 1, 2)

In [0]:
def kj(**kwrgs):
    print(' outpu wil be dict',kwrgs)

In [0]:
kj(name='hafez',id=12)

(' outpu wil be dict', {'name': 'hafez', 'id': 12})

In [0]:
class Ass:
    pass
c=Ass()
print(c)

<__main__.Ass instance at 0x0313EEE0>

In [0]:
type(c)

instance

In [0]:
class Foe:
    def __init__(self,num,typ,cap):
        self.num=num
        self.typ=typ
        self.cap=cap

In [0]:
tmo=Foe(12,"yy","jbjb")

In [0]:
tmo.cap

'jbjb'

In [0]:
class Emp:
    empC=0
    def __init__(self, name, salary):
        self.name=name
        self.salary=salary
        Emp.empC +=1

In [0]:
def display(self):
    print('total employee %d' %Emp.empC )
    
def dispemp(self):
    print ("name: " ,self.name,",salary: ", self.salary)

In [0]:
e1=Emp("hafez",10200)
e2=Emp("hafez1",12000)
e3=Emp("fez",1002)

In [0]:
e2.salary

12000

In [0]:
age=12
n="hafez"

In [0]:
print("he is {j} student and age is{a}".format(j=n,a=age))

he is hafez student and age is12

In [0]:
n[2:]

'fez'

In [0]:
class Vehicle:
    pass

In [0]:
car=Vehicle()
print  (car)

<__main__.Vehicle instance at 0x0369AA08>

In [0]:
class Vehicle:
    def __init__(self,number_of_wheel,type_of_wheel,capacity,velocity):
        self.number_of_wheel=number_of_wheel
        self.type_of_wheel=type_of_wheel
        self.capacity=capacity
        self.velocity=velocity
    def make_noise(self):
        print('vrummm')

In [0]:
test_model=Vehicle(4,"electric",5,300)
test_model

In [0]:
test_model.make_noise()

vrummm

In [0]:
class Monster:
    def __init__(self,color,heads):
        self.color=color
        self.heads=heads
    def attack (self):
        print ('attack just')
snake=Monster('BLACK',4)
print ('i am ' + str(snake.heads) + 'headed monster')

i am 4headed monster

In [0]:
snake.attack()

attack just